.large-page
  section.block(data-block="0")
    h2.block-title Block 0
    p.block-text Some descriptive paragraph for block 0.
    ul.block-list
      li.item(data-i="0") Item 0 of block 0
      li.item(data-i="1") Item 1 of block 0
      li.item(data-i="2") Item 2 of block 0
      li.item(data-i="3") Item 3 of block 0
      li.item(data-i="4") Item 4 of block 0
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="1")
    h2.block-title Block 1
    p.block-text Some descriptive paragraph for block 1.
    ul.block-list
      li.item(data-i="0") Item 0 of block 1
      li.item(data-i="1") Item 1 of block 1
      li.item(data-i="2") Item 2 of block 1
      li.item(data-i="3") Item 3 of block 1
      li.item(data-i="4") Item 4 of block 1
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="2")
    h2.block-title Block 2
    p.block-text Some descriptive paragraph for block 2.
    ul.block-list
      li.item(data-i="0") Item 0 of block 2
      li.item(data-i="1") Item 1 of block 2
      li.item(data-i="2") Item 2 of block 2
      li.item(data-i="3") Item 3 of block 2
      li.item(data-i="4") Item 4 of block 2
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="3")
    h2.block-title Block 3
    p.block-text Some descriptive paragraph for block 3.
    ul.block-list
      li.item(data-i="0") Item 0 of block 3
      li.item(data-i="1") Item 1 of block 3
      li.item(data-i="2") Item 2 of block 3
      li.item(data-i="3") Item 3 of block 3
      li.item(data-i="4") Item 4 of block 3
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="4")
    h2.block-title Block 4
    p.block-text Some descriptive paragraph for block 4.
    ul.block-list
      li.item(data-i="0") Item 0 of block 4
      li.item(data-i="1") Item 1 of block 4
      li.item(data-i="2") Item 2 of block 4
      li.item(data-i="3") Item 3 of block 4
      li.item(data-i="4") Item 4 of block 4
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="5")
    h2.block-title Block 5
    p.block-text Some descriptive paragraph for block 5.
    ul.block-list
      li.item(data-i="0") Item 0 of block 5
      li.item(data-i="1") Item 1 of block 5
      li.item(data-i="2") Item 2 of block 5
      li.item(data-i="3") Item 3 of block 5
      li.item(data-i="4") Item 4 of block 5
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="6")
    h2.block-title Block 6
    p.block-text Some descriptive paragraph for block 6.
    ul.block-list
      li.item(data-i="0") Item 0 of block 6
      li.item(data-i="1") Item 1 of block 6
      li.item(data-i="2") Item 2 of block 6
      li.item(data-i="3") Item 3 of block 6
      li.item(data-i="4") Item 4 of block 6
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="7")
    h2.block-title Block 7
    p.block-text Some descriptive paragraph for block 7.
    ul.block-list
      li.item(data-i="0") Item 0 of block 7
      li.item(data-i="1") Item 1 of block 7
      li.item(data-i="2") Item 2 of block 7
      li.item(data-i="3") Item 3 of block 7
      li.item(data-i="4") Item 4 of block 7
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="8")
    h2.block-title Block 8
    p.block-text Some descriptive paragraph for block 8.
    ul.block-list
      li.item(data-i="0") Item 0 of block 8
      li.item(data-i="1") Item 1 of block 8
      li.item(data-i="2") Item 2 of block 8
      li.item(data-i="3") Item 3 of block 8
      li.item(data-i="4") Item 4 of block 8
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="9")
    h2.block-title Block 9
    p.block-text Some descriptive paragraph for block 9.
    ul.block-list
      li.item(data-i="0") Item 0 of block 9
      li.item(data-i="1") Item 1 of block 9
      li.item(data-i="2") Item 2 of block 9
      li.item(data-i="3") Item 3 of block 9
      li.item(data-i="4") Item 4 of block 9
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="10")
    h2.block-title Block 10
    p.block-text Some descriptive paragraph for block 10.
    ul.block-list
      li.item(data-i="0") Item 0 of block 10
      li.item(data-i="1") Item 1 of block 10
      li.item(data-i="2") Item 2 of block 10
      li.item(data-i="3") Item 3 of block 10
      li.item(data-i="4") Item 4 of block 10
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="11")
    h2.block-title Block 11
    p.block-text Some descriptive paragraph for block 11.
    ul.block-list
      li.item(data-i="0") Item 0 of block 11
      li.item(data-i="1") Item 1 of block 11
      li.item(data-i="2") Item 2 of block 11
      li.item(data-i="3") Item 3 of block 11
      li.item(data-i="4") Item 4 of block 11
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="12")
    h2.block-title Block 12
    p.block-text Some descriptive paragraph for block 12.
    ul.block-list
      li.item(data-i="0") Item 0 of block 12
      li.item(data-i="1") Item 1 of block 12
      li.item(data-i="2") Item 2 of block 12
      li.item(data-i="3") Item 3 of block 12
      li.item(data-i="4") Item 4 of block 12
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="13")
    h2.block-title Block 13
    p.block-text Some descriptive paragraph for block 13.
    ul.block-list
      li.item(data-i="0") Item 0 of block 13
      li.item(data-i="1") Item 1 of block 13
      li.item(data-i="2") Item 2 of block 13
      li.item(data-i="3") Item 3 of block 13
      li.item(data-i="4") Item 4 of block 13
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="14")
    h2.block-title Block 14
    p.block-text Some descriptive paragraph for block 14.
    ul.block-list
      li.item(data-i="0") Item 0 of block 14
      li.item(data-i="1") Item 1 of block 14
      li.item(data-i="2") Item 2 of block 14
      li.item(data-i="3") Item 3 of block 14
      li.item(data-i="4") Item 4 of block 14
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="15")
    h2.block-title Block 15
    p.block-text Some descriptive paragraph for block 15.
    ul.block-list
      li.item(data-i="0") Item 0 of block 15
      li.item(data-i="1") Item 1 of block 15
      li.item(data-i="2") Item 2 of block 15
      li.item(data-i="3") Item 3 of block 15
      li.item(data-i="4") Item 4 of block 15
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="16")
    h2.block-title Block 16
    p.block-text Some descriptive paragraph for block 16.
    ul.block-list
      li.item(data-i="0") Item 0 of block 16
      li.item(data-i="1") Item 1 of block 16
      li.item(data-i="2") Item 2 of block 16
      li.item(data-i="3") Item 3 of block 16
      li.item(data-i="4") Item 4 of block 16
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="17")
    h2.block-title Block 17
    p.block-text Some descriptive paragraph for block 17.
    ul.block-list
      li.item(data-i="0") Item 0 of block 17
      li.item(data-i="1") Item 1 of block 17
      li.item(data-i="2") Item 2 of block 17
      li.item(data-i="3") Item 3 of block 17
      li.item(data-i="4") Item 4 of block 17
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="18")
    h2.block-title Block 18
    p.block-text Some descriptive paragraph for block 18.
    ul.block-list
      li.item(data-i="0") Item 0 of block 18
      li.item(data-i="1") Item 1 of block 18
      li.item(data-i="2") Item 2 of block 18
      li.item(data-i="3") Item 3 of block 18
      li.item(data-i="4") Item 4 of block 18
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="19")
    h2.block-title Block 19
    p.block-text Some descriptive paragraph for block 19.
    ul.block-list
      li.item(data-i="0") Item 0 of block 19
      li.item(data-i="1") Item 1 of block 19
      li.item(data-i="2") Item 2 of block 19
      li.item(data-i="3") Item 3 of block 19
      li.item(data-i="4") Item 4 of block 19
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="20")
    h2.block-title Block 20
    p.block-text Some descriptive paragraph for block 20.
    ul.block-list
      li.item(data-i="0") Item 0 of block 20
      li.item(data-i="1") Item 1 of block 20
      li.item(data-i="2") Item 2 of block 20
      li.item(data-i="3") Item 3 of block 20
      li.item(data-i="4") Item 4 of block 20
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="21")
    h2.block-title Block 21
    p.block-text Some descriptive paragraph for block 21.
    ul.block-list
      li.item(data-i="0") Item 0 of block 21
      li.item(data-i="1") Item 1 of block 21
      li.item(data-i="2") Item 2 of block 21
      li.item(data-i="3") Item 3 of block 21
      li.item(data-i="4") Item 4 of block 21
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="22")
    h2.block-title Block 22
    p.block-text Some descriptive paragraph for block 22.
    ul.block-list
      li.item(data-i="0") Item 0 of block 22
      li.item(data-i="1") Item 1 of block 22
      li.item(data-i="2") Item 2 of block 22
      li.item(data-i="3") Item 3 of block 22
      li.item(data-i="4") Item 4 of block 22
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="23")
    h2.block-title Block 23
    p.block-text Some descriptive paragraph for block 23.
    ul.block-list
      li.item(data-i="0") Item 0 of block 23
      li.item(data-i="1") Item 1 of block 23
      li.item(data-i="2") Item 2 of block 23
      li.item(data-i="3") Item 3 of block 23
      li.item(data-i="4") Item 4 of block 23
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="24")
    h2.block-title Block 24
    p.block-text Some descriptive paragraph for block 24.
    ul.block-list
      li.item(data-i="0") Item 0 of block 24
      li.item(data-i="1") Item 1 of block 24
      li.item(data-i="2") Item 2 of block 24
      li.item(data-i="3") Item 3 of block 24
      li.item(data-i="4") Item 4 of block 24
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="25")
    h2.block-title Block 25
    p.block-text Some descriptive paragraph for block 25.
    ul.block-list
      li.item(data-i="0") Item 0 of block 25
      li.item(data-i="1") Item 1 of block 25
      li.item(data-i="2") Item 2 of block 25
      li.item(data-i="3") Item 3 of block 25
      li.item(data-i="4") Item 4 of block 25
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="26")
    h2.block-title Block 26
    p.block-text Some descriptive paragraph for block 26.
    ul.block-list
      li.item(data-i="0") Item 0 of block 26
      li.item(data-i="1") Item 1 of block 26
      li.item(data-i="2") Item 2 of block 26
      li.item(data-i="3") Item 3 of block 26
      li.item(data-i="4") Item 4 of block 26
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="27")
    h2.block-title Block 27
    p.block-text Some descriptive paragraph for block 27.
    ul.block-list
      li.item(data-i="0") Item 0 of block 27
      li.item(data-i="1") Item 1 of block 27
      li.item(data-i="2") Item 2 of block 27
      li.item(data-i="3") Item 3 of block 27
      li.item(data-i="4") Item 4 of block 27
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="28")
    h2.block-title Block 28
    p.block-text Some descriptive paragraph for block 28.
    ul.block-list
      li.item(data-i="0") Item 0 of block 28
      li.item(data-i="1") Item 1 of block 28
      li.item(data-i="2") Item 2 of block 28
      li.item(data-i="3") Item 3 of block 28
      li.item(data-i="4") Item 4 of block 28
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="29")
    h2.block-title Block 29
    p.block-text Some descriptive paragraph for block 29.
    ul.block-list
      li.item(data-i="0") Item 0 of block 29
      li.item(data-i="1") Item 1 of block 29
      li.item(data-i="2") Item 2 of block 29
      li.item(data-i="3") Item 3 of block 29
      li.item(data-i="4") Item 4 of block 29
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="30")
    h2.block-title Block 30
    p.block-text Some descriptive paragraph for block 30.
    ul.block-list
      li.item(data-i="0") Item 0 of block 30
      li.item(data-i="1") Item 1 of block 30
      li.item(data-i="2") Item 2 of block 30
      li.item(data-i="3") Item 3 of block 30
      li.item(data-i="4") Item 4 of block 30
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="31")
    h2.block-title Block 31
    p.block-text Some descriptive paragraph for block 31.
    ul.block-list
      li.item(data-i="0") Item 0 of block 31
      li.item(data-i="1") Item 1 of block 31
      li.item(data-i="2") Item 2 of block 31
      li.item(data-i="3") Item 3 of block 31
      li.item(data-i="4") Item 4 of block 31
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="32")
    h2.block-title Block 32
    p.block-text Some descriptive paragraph for block 32.
    ul.block-list
      li.item(data-i="0") Item 0 of block 32
      li.item(data-i="1") Item 1 of block 32
      li.item(data-i="2") Item 2 of block 32
      li.item(data-i="3") Item 3 of block 32
      li.item(data-i="4") Item 4 of block 32
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="33")
    h2.block-title Block 33
    p.block-text Some descriptive paragraph for block 33.
    ul.block-list
      li.item(data-i="0") Item 0 of block 33
      li.item(data-i="1") Item 1 of block 33
      li.item(data-i="2") Item 2 of block 33
      li.item(data-i="3") Item 3 of block 33
      li.item(data-i="4") Item 4 of block 33
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="34")
    h2.block-title Block 34
    p.block-text Some descriptive paragraph for block 34.
    ul.block-list
      li.item(data-i="0") Item 0 of block 34
      li.item(data-i="1") Item 1 of block 34
      li.item(data-i="2") Item 2 of block 34
      li.item(data-i="3") Item 3 of block 34
      li.item(data-i="4") Item 4 of block 34
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="35")
    h2.block-title Block 35
    p.block-text Some descriptive paragraph for block 35.
    ul.block-list
      li.item(data-i="0") Item 0 of block 35
      li.item(data-i="1") Item 1 of block 35
      li.item(data-i="2") Item 2 of block 35
      li.item(data-i="3") Item 3 of block 35
      li.item(data-i="4") Item 4 of block 35
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="36")
    h2.block-title Block 36
    p.block-text Some descriptive paragraph for block 36.
    ul.block-list
      li.item(data-i="0") Item 0 of block 36
      li.item(data-i="1") Item 1 of block 36
      li.item(data-i="2") Item 2 of block 36
      li.item(data-i="3") Item 3 of block 36
      li.item(data-i="4") Item 4 of block 36
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="37")
    h2.block-title Block 37
    p.block-text Some descriptive paragraph for block 37.
    ul.block-list
      li.item(data-i="0") Item 0 of block 37
      li.item(data-i="1") Item 1 of block 37
      li.item(data-i="2") Item 2 of block 37
      li.item(data-i="3") Item 3 of block 37
      li.item(data-i="4") Item 4 of block 37
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="38")
    h2.block-title Block 38
    p.block-text Some descriptive paragraph for block 38.
    ul.block-list
      li.item(data-i="0") Item 0 of block 38
      li.item(data-i="1") Item 1 of block 38
      li.item(data-i="2") Item 2 of block 38
      li.item(data-i="3") Item 3 of block 38
      li.item(data-i="4") Item 4 of block 38
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="39")
    h2.block-title Block 39
    p.block-text Some descriptive paragraph for block 39.
    ul.block-list
      li.item(data-i="0") Item 0 of block 39
      li.item(data-i="1") Item 1 of block 39
      li.item(data-i="2") Item 2 of block 39
      li.item(data-i="3") Item 3 of block 39
      li.item(data-i="4") Item 4 of block 39
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="40")
    h2.block-title Block 40
    p.block-text Some descriptive paragraph for block 40.
    ul.block-list
      li.item(data-i="0") Item 0 of block 40
      li.item(data-i="1") Item 1 of block 40
      li.item(data-i="2") Item 2 of block 40
      li.item(data-i="3") Item 3 of block 40
      li.item(data-i="4") Item 4 of block 40
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="41")
    h2.block-title Block 41
    p.block-text Some descriptive paragraph for block 41.
    ul.block-list
      li.item(data-i="0") Item 0 of block 41
      li.item(data-i="1") Item 1 of block 41
      li.item(data-i="2") Item 2 of block 41
      li.item(data-i="3") Item 3 of block 41
      li.item(data-i="4") Item 4 of block 41
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="42")
    h2.block-title Block 42
    p.block-text Some descriptive paragraph for block 42.
    ul.block-list
      li.item(data-i="0") Item 0 of block 42
      li.item(data-i="1") Item 1 of block 42
      li.item(data-i="2") Item 2 of block 42
      li.item(data-i="3") Item 3 of block 42
      li.item(data-i="4") Item 4 of block 42
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="43")
    h2.block-title Block 43
    p.block-text Some descriptive paragraph for block 43.
    ul.block-list
      li.item(data-i="0") Item 0 of block 43
      li.item(data-i="1") Item 1 of block 43
      li.item(data-i="2") Item 2 of block 43
      li.item(data-i="3") Item 3 of block 43
      li.item(data-i="4") Item 4 of block 43
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="44")
    h2.block-title Block 44
    p.block-text Some descriptive paragraph for block 44.
    ul.block-list
      li.item(data-i="0") Item 0 of block 44
      li.item(data-i="1") Item 1 of block 44
      li.item(data-i="2") Item 2 of block 44
      li.item(data-i="3") Item 3 of block 44
      li.item(data-i="4") Item 4 of block 44
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="45")
    h2.block-title Block 45
    p.block-text Some descriptive paragraph for block 45.
    ul.block-list
      li.item(data-i="0") Item 0 of block 45
      li.item(data-i="1") Item 1 of block 45
      li.item(data-i="2") Item 2 of block 45
      li.item(data-i="3") Item 3 of block 45
      li.item(data-i="4") Item 4 of block 45
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="46")
    h2.block-title Block 46
    p.block-text Some descriptive paragraph for block 46.
    ul.block-list
      li.item(data-i="0") Item 0 of block 46
      li.item(data-i="1") Item 1 of block 46
      li.item(data-i="2") Item 2 of block 46
      li.item(data-i="3") Item 3 of block 46
      li.item(data-i="4") Item 4 of block 46
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="47")
    h2.block-title Block 47
    p.block-text Some descriptive paragraph for block 47.
    ul.block-list
      li.item(data-i="0") Item 0 of block 47
      li.item(data-i="1") Item 1 of block 47
      li.item(data-i="2") Item 2 of block 47
      li.item(data-i="3") Item 3 of block 47
      li.item(data-i="4") Item 4 of block 47
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="48")
    h2.block-title Block 48
    p.block-text Some descriptive paragraph for block 48.
    ul.block-list
      li.item(data-i="0") Item 0 of block 48
      li.item(data-i="1") Item 1 of block 48
      li.item(data-i="2") Item 2 of block 48
      li.item(data-i="3") Item 3 of block 48
      li.item(data-i="4") Item 4 of block 48
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="49")
    h2.block-title Block 49
    p.block-text Some descriptive paragraph for block 49.
    ul.block-list
      li.item(data-i="0") Item 0 of block 49
      li.item(data-i="1") Item 1 of block 49
      li.item(data-i="2") Item 2 of block 49
      li.item(data-i="3") Item 3 of block 49
      li.item(data-i="4") Item 4 of block 49
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="50")
    h2.block-title Block 50
    p.block-text Some descriptive paragraph for block 50.
    ul.block-list
      li.item(data-i="0") Item 0 of block 50
      li.item(data-i="1") Item 1 of block 50
      li.item(data-i="2") Item 2 of block 50
      li.item(data-i="3") Item 3 of block 50
      li.item(data-i="4") Item 4 of block 50
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="51")
    h2.block-title Block 51
    p.block-text Some descriptive paragraph for block 51.
    ul.block-list
      li.item(data-i="0") Item 0 of block 51
      li.item(data-i="1") Item 1 of block 51
      li.item(data-i="2") Item 2 of block 51
      li.item(data-i="3") Item 3 of block 51
      li.item(data-i="4") Item 4 of block 51
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="52")
    h2.block-title Block 52
    p.block-text Some descriptive paragraph for block 52.
    ul.block-list
      li.item(data-i="0") Item 0 of block 52
      li.item(data-i="1") Item 1 of block 52
      li.item(data-i="2") Item 2 of block 52
      li.item(data-i="3") Item 3 of block 52
      li.item(data-i="4") Item 4 of block 52
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="53")
    h2.block-title Block 53
    p.block-text Some descriptive paragraph for block 53.
    ul.block-list
      li.item(data-i="0") Item 0 of block 53
      li.item(data-i="1") Item 1 of block 53
      li.item(data-i="2") Item 2 of block 53
      li.item(data-i="3") Item 3 of block 53
      li.item(data-i="4") Item 4 of block 53
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="54")
    h2.block-title Block 54
    p.block-text Some descriptive paragraph for block 54.
    ul.block-list
      li.item(data-i="0") Item 0 of block 54
      li.item(data-i="1") Item 1 of block 54
      li.item(data-i="2") Item 2 of block 54
      li.item(data-i="3") Item 3 of block 54
      li.item(data-i="4") Item 4 of block 54
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="55")
    h2.block-title Block 55
    p.block-text Some descriptive paragraph for block 55.
    ul.block-list
      li.item(data-i="0") Item 0 of block 55
      li.item(data-i="1") Item 1 of block 55
      li.item(data-i="2") Item 2 of block 55
      li.item(data-i="3") Item 3 of block 55
      li.item(data-i="4") Item 4 of block 55
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="56")
    h2.block-title Block 56
    p.block-text Some descriptive paragraph for block 56.
    ul.block-list
      li.item(data-i="0") Item 0 of block 56
      li.item(data-i="1") Item 1 of block 56
      li.item(data-i="2") Item 2 of block 56
      li.item(data-i="3") Item 3 of block 56
      li.item(data-i="4") Item 4 of block 56
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="57")
    h2.block-title Block 57
    p.block-text Some descriptive paragraph for block 57.
    ul.block-list
      li.item(data-i="0") Item 0 of block 57
      li.item(data-i="1") Item 1 of block 57
      li.item(data-i="2") Item 2 of block 57
      li.item(data-i="3") Item 3 of block 57
      li.item(data-i="4") Item 4 of block 57
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="58")
    h2.block-title Block 58
    p.block-text Some descriptive paragraph for block 58.
    ul.block-list
      li.item(data-i="0") Item 0 of block 58
      li.item(data-i="1") Item 1 of block 58
      li.item(data-i="2") Item 2 of block 58
      li.item(data-i="3") Item 3 of block 58
      li.item(data-i="4") Item 4 of block 58
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="59")
    h2.block-title Block 59
    p.block-text Some descriptive paragraph for block 59.
    ul.block-list
      li.item(data-i="0") Item 0 of block 59
      li.item(data-i="1") Item 1 of block 59
      li.item(data-i="2") Item 2 of block 59
      li.item(data-i="3") Item 3 of block 59
      li.item(data-i="4") Item 4 of block 59
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="60")
    h2.block-title Block 60
    p.block-text Some descriptive paragraph for block 60.
    ul.block-list
      li.item(data-i="0") Item 0 of block 60
      li.item(data-i="1") Item 1 of block 60
      li.item(data-i="2") Item 2 of block 60
      li.item(data-i="3") Item 3 of block 60
      li.item(data-i="4") Item 4 of block 60
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="61")
    h2.block-title Block 61
    p.block-text Some descriptive paragraph for block 61.
    ul.block-list
      li.item(data-i="0") Item 0 of block 61
      li.item(data-i="1") Item 1 of block 61
      li.item(data-i="2") Item 2 of block 61
      li.item(data-i="3") Item 3 of block 61
      li.item(data-i="4") Item 4 of block 61
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="62")
    h2.block-title Block 62
    p.block-text Some descriptive paragraph for block 62.
    ul.block-list
      li.item(data-i="0") Item 0 of block 62
      li.item(data-i="1") Item 1 of block 62
      li.item(data-i="2") Item 2 of block 62
      li.item(data-i="3") Item 3 of block 62
      li.item(data-i="4") Item 4 of block 62
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="63")
    h2.block-title Block 63
    p.block-text Some descriptive paragraph for block 63.
    ul.block-list
      li.item(data-i="0") Item 0 of block 63
      li.item(data-i="1") Item 1 of block 63
      li.item(data-i="2") Item 2 of block 63
      li.item(data-i="3") Item 3 of block 63
      li.item(data-i="4") Item 4 of block 63
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="64")
    h2.block-title Block 64
    p.block-text Some descriptive paragraph for block 64.
    ul.block-list
      li.item(data-i="0") Item 0 of block 64
      li.item(data-i="1") Item 1 of block 64
      li.item(data-i="2") Item 2 of block 64
      li.item(data-i="3") Item 3 of block 64
      li.item(data-i="4") Item 4 of block 64
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="65")
    h2.block-title Block 65
    p.block-text Some descriptive paragraph for block 65.
    ul.block-list
      li.item(data-i="0") Item 0 of block 65
      li.item(data-i="1") Item 1 of block 65
      li.item(data-i="2") Item 2 of block 65
      li.item(data-i="3") Item 3 of block 65
      li.item(data-i="4") Item 4 of block 65
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="66")
    h2.block-title Block 66
    p.block-text Some descriptive paragraph for block 66.
    ul.block-list
      li.item(data-i="0") Item 0 of block 66
      li.item(data-i="1") Item 1 of block 66
      li.item(data-i="2") Item 2 of block 66
      li.item(data-i="3") Item 3 of block 66
      li.item(data-i="4") Item 4 of block 66
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="67")
    h2.block-title Block 67
    p.block-text Some descriptive paragraph for block 67.
    ul.block-list
      li.item(data-i="0") Item 0 of block 67
      li.item(data-i="1") Item 1 of block 67
      li.item(data-i="2") Item 2 of block 67
      li.item(data-i="3") Item 3 of block 67
      li.item(data-i="4") Item 4 of block 67
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="68")
    h2.block-title Block 68
    p.block-text Some descriptive paragraph for block 68.
    ul.block-list
      li.item(data-i="0") Item 0 of block 68
      li.item(data-i="1") Item 1 of block 68
      li.item(data-i="2") Item 2 of block 68
      li.item(data-i="3") Item 3 of block 68
      li.item(data-i="4") Item 4 of block 68
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="69")
    h2.block-title Block 69
    p.block-text Some descriptive paragraph for block 69.
    ul.block-list
      li.item(data-i="0") Item 0 of block 69
      li.item(data-i="1") Item 1 of block 69
      li.item(data-i="2") Item 2 of block 69
      li.item(data-i="3") Item 3 of block 69
      li.item(data-i="4") Item 4 of block 69
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="70")
    h2.block-title Block 70
    p.block-text Some descriptive paragraph for block 70.
    ul.block-list
      li.item(data-i="0") Item 0 of block 70
      li.item(data-i="1") Item 1 of block 70
      li.item(data-i="2") Item 2 of block 70
      li.item(data-i="3") Item 3 of block 70
      li.item(data-i="4") Item 4 of block 70
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="71")
    h2.block-title Block 71
    p.block-text Some descriptive paragraph for block 71.
    ul.block-list
      li.item(data-i="0") Item 0 of block 71
      li.item(data-i="1") Item 1 of block 71
      li.item(data-i="2") Item 2 of block 71
      li.item(data-i="3") Item 3 of block 71
      li.item(data-i="4") Item 4 of block 71
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="72")
    h2.block-title Block 72
    p.block-text Some descriptive paragraph for block 72.
    ul.block-list
      li.item(data-i="0") Item 0 of block 72
      li.item(data-i="1") Item 1 of block 72
      li.item(data-i="2") Item 2 of block 72
      li.item(data-i="3") Item 3 of block 72
      li.item(data-i="4") Item 4 of block 72
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="73")
    h2.block-title Block 73
    p.block-text Some descriptive paragraph for block 73.
    ul.block-list
      li.item(data-i="0") Item 0 of block 73
      li.item(data-i="1") Item 1 of block 73
      li.item(data-i="2") Item 2 of block 73
      li.item(data-i="3") Item 3 of block 73
      li.item(data-i="4") Item 4 of block 73
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="74")
    h2.block-title Block 74
    p.block-text Some descriptive paragraph for block 74.
    ul.block-list
      li.item(data-i="0") Item 0 of block 74
      li.item(data-i="1") Item 1 of block 74
      li.item(data-i="2") Item 2 of block 74
      li.item(data-i="3") Item 3 of block 74
      li.item(data-i="4") Item 4 of block 74
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="75")
    h2.block-title Block 75
    p.block-text Some descriptive paragraph for block 75.
    ul.block-list
      li.item(data-i="0") Item 0 of block 75
      li.item(data-i="1") Item 1 of block 75
      li.item(data-i="2") Item 2 of block 75
      li.item(data-i="3") Item 3 of block 75
      li.item(data-i="4") Item 4 of block 75
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="76")
    h2.block-title Block 76
    p.block-text Some descriptive paragraph for block 76.
    ul.block-list
      li.item(data-i="0") Item 0 of block 76
      li.item(data-i="1") Item 1 of block 76
      li.item(data-i="2") Item 2 of block 76
      li.item(data-i="3") Item 3 of block 76
      li.item(data-i="4") Item 4 of block 76
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="77")
    h2.block-title Block 77
    p.block-text Some descriptive paragraph for block 77.
    ul.block-list
      li.item(data-i="0") Item 0 of block 77
      li.item(data-i="1") Item 1 of block 77
      li.item(data-i="2") Item 2 of block 77
      li.item(data-i="3") Item 3 of block 77
      li.item(data-i="4") Item 4 of block 77
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="78")
    h2.block-title Block 78
    p.block-text Some descriptive paragraph for block 78.
    ul.block-list
      li.item(data-i="0") Item 0 of block 78
      li.item(data-i="1") Item 1 of block 78
      li.item(data-i="2") Item 2 of block 78
      li.item(data-i="3") Item 3 of block 78
      li.item(data-i="4") Item 4 of block 78
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="79")
    h2.block-title Block 79
    p.block-text Some descriptive paragraph for block 79.
    ul.block-list
      li.item(data-i="0") Item 0 of block 79
      li.item(data-i="1") Item 1 of block 79
      li.item(data-i="2") Item 2 of block 79
      li.item(data-i="3") Item 3 of block 79
      li.item(data-i="4") Item 4 of block 79
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="80")
    h2.block-title Block 80
    p.block-text Some descriptive paragraph for block 80.
    ul.block-list
      li.item(data-i="0") Item 0 of block 80
      li.item(data-i="1") Item 1 of block 80
      li.item(data-i="2") Item 2 of block 80
      li.item(data-i="3") Item 3 of block 80
      li.item(data-i="4") Item 4 of block 80
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="81")
    h2.block-title Block 81
    p.block-text Some descriptive paragraph for block 81.
    ul.block-list
      li.item(data-i="0") Item 0 of block 81
      li.item(data-i="1") Item 1 of block 81
      li.item(data-i="2") Item 2 of block 81
      li.item(data-i="3") Item 3 of block 81
      li.item(data-i="4") Item 4 of block 81
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="82")
    h2.block-title Block 82
    p.block-text Some descriptive paragraph for block 82.
    ul.block-list
      li.item(data-i="0") Item 0 of block 82
      li.item(data-i="1") Item 1 of block 82
      li.item(data-i="2") Item 2 of block 82
      li.item(data-i="3") Item 3 of block 82
      li.item(data-i="4") Item 4 of block 82
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="83")
    h2.block-title Block 83
    p.block-text Some descriptive paragraph for block 83.
    ul.block-list
      li.item(data-i="0") Item 0 of block 83
      li.item(data-i="1") Item 1 of block 83
      li.item(data-i="2") Item 2 of block 83
      li.item(data-i="3") Item 3 of block 83
      li.item(data-i="4") Item 4 of block 83
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="84")
    h2.block-title Block 84
    p.block-text Some descriptive paragraph for block 84.
    ul.block-list
      li.item(data-i="0") Item 0 of block 84
      li.item(data-i="1") Item 1 of block 84
      li.item(data-i="2") Item 2 of block 84
      li.item(data-i="3") Item 3 of block 84
      li.item(data-i="4") Item 4 of block 84
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="85")
    h2.block-title Block 85
    p.block-text Some descriptive paragraph for block 85.
    ul.block-list
      li.item(data-i="0") Item 0 of block 85
      li.item(data-i="1") Item 1 of block 85
      li.item(data-i="2") Item 2 of block 85
      li.item(data-i="3") Item 3 of block 85
      li.item(data-i="4") Item 4 of block 85
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="86")
    h2.block-title Block 86
    p.block-text Some descriptive paragraph for block 86.
    ul.block-list
      li.item(data-i="0") Item 0 of block 86
      li.item(data-i="1") Item 1 of block 86
      li.item(data-i="2") Item 2 of block 86
      li.item(data-i="3") Item 3 of block 86
      li.item(data-i="4") Item 4 of block 86
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="87")
    h2.block-title Block 87
    p.block-text Some descriptive paragraph for block 87.
    ul.block-list
      li.item(data-i="0") Item 0 of block 87
      li.item(data-i="1") Item 1 of block 87
      li.item(data-i="2") Item 2 of block 87
      li.item(data-i="3") Item 3 of block 87
      li.item(data-i="4") Item 4 of block 87
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="88")
    h2.block-title Block 88
    p.block-text Some descriptive paragraph for block 88.
    ul.block-list
      li.item(data-i="0") Item 0 of block 88
      li.item(data-i="1") Item 1 of block 88
      li.item(data-i="2") Item 2 of block 88
      li.item(data-i="3") Item 3 of block 88
      li.item(data-i="4") Item 4 of block 88
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="89")
    h2.block-title Block 89
    p.block-text Some descriptive paragraph for block 89.
    ul.block-list
      li.item(data-i="0") Item 0 of block 89
      li.item(data-i="1") Item 1 of block 89
      li.item(data-i="2") Item 2 of block 89
      li.item(data-i="3") Item 3 of block 89
      li.item(data-i="4") Item 4 of block 89
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="90")
    h2.block-title Block 90
    p.block-text Some descriptive paragraph for block 90.
    ul.block-list
      li.item(data-i="0") Item 0 of block 90
      li.item(data-i="1") Item 1 of block 90
      li.item(data-i="2") Item 2 of block 90
      li.item(data-i="3") Item 3 of block 90
      li.item(data-i="4") Item 4 of block 90
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="91")
    h2.block-title Block 91
    p.block-text Some descriptive paragraph for block 91.
    ul.block-list
      li.item(data-i="0") Item 0 of block 91
      li.item(data-i="1") Item 1 of block 91
      li.item(data-i="2") Item 2 of block 91
      li.item(data-i="3") Item 3 of block 91
      li.item(data-i="4") Item 4 of block 91
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="92")
    h2.block-title Block 92
    p.block-text Some descriptive paragraph for block 92.
    ul.block-list
      li.item(data-i="0") Item 0 of block 92
      li.item(data-i="1") Item 1 of block 92
      li.item(data-i="2") Item 2 of block 92
      li.item(data-i="3") Item 3 of block 92
      li.item(data-i="4") Item 4 of block 92
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="93")
    h2.block-title Block 93
    p.block-text Some descriptive paragraph for block 93.
    ul.block-list
      li.item(data-i="0") Item 0 of block 93
      li.item(data-i="1") Item 1 of block 93
      li.item(data-i="2") Item 2 of block 93
      li.item(data-i="3") Item 3 of block 93
      li.item(data-i="4") Item 4 of block 93
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="94")
    h2.block-title Block 94
    p.block-text Some descriptive paragraph for block 94.
    ul.block-list
      li.item(data-i="0") Item 0 of block 94
      li.item(data-i="1") Item 1 of block 94
      li.item(data-i="2") Item 2 of block 94
      li.item(data-i="3") Item 3 of block 94
      li.item(data-i="4") Item 4 of block 94
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="95")
    h2.block-title Block 95
    p.block-text Some descriptive paragraph for block 95.
    ul.block-list
      li.item(data-i="0") Item 0 of block 95
      li.item(data-i="1") Item 1 of block 95
      li.item(data-i="2") Item 2 of block 95
      li.item(data-i="3") Item 3 of block 95
      li.item(data-i="4") Item 4 of block 95
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="96")
    h2.block-title Block 96
    p.block-text Some descriptive paragraph for block 96.
    ul.block-list
      li.item(data-i="0") Item 0 of block 96
      li.item(data-i="1") Item 1 of block 96
      li.item(data-i="2") Item 2 of block 96
      li.item(data-i="3") Item 3 of block 96
      li.item(data-i="4") Item 4 of block 96
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="97")
    h2.block-title Block 97
    p.block-text Some descriptive paragraph for block 97.
    ul.block-list
      li.item(data-i="0") Item 0 of block 97
      li.item(data-i="1") Item 1 of block 97
      li.item(data-i="2") Item 2 of block 97
      li.item(data-i="3") Item 3 of block 97
      li.item(data-i="4") Item 4 of block 97
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="98")
    h2.block-title Block 98
    p.block-text Some descriptive paragraph for block 98.
    ul.block-list
      li.item(data-i="0") Item 0 of block 98
      li.item(data-i="1") Item 1 of block 98
      li.item(data-i="2") Item 2 of block 98
      li.item(data-i="3") Item 3 of block 98
      li.item(data-i="4") Item 4 of block 98
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="99")
    h2.block-title Block 99
    p.block-text Some descriptive paragraph for block 99.
    ul.block-list
      li.item(data-i="0") Item 0 of block 99
      li.item(data-i="1") Item 1 of block 99
      li.item(data-i="2") Item 2 of block 99
      li.item(data-i="3") Item 3 of block 99
      li.item(data-i="4") Item 4 of block 99
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="100")
    h2.block-title Block 100
    p.block-text Some descriptive paragraph for block 100.
    ul.block-list
      li.item(data-i="0") Item 0 of block 100
      li.item(data-i="1") Item 1 of block 100
      li.item(data-i="2") Item 2 of block 100
      li.item(data-i="3") Item 3 of block 100
      li.item(data-i="4") Item 4 of block 100
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="101")
    h2.block-title Block 101
    p.block-text Some descriptive paragraph for block 101.
    ul.block-list
      li.item(data-i="0") Item 0 of block 101
      li.item(data-i="1") Item 1 of block 101
      li.item(data-i="2") Item 2 of block 101
      li.item(data-i="3") Item 3 of block 101
      li.item(data-i="4") Item 4 of block 101
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="102")
    h2.block-title Block 102
    p.block-text Some descriptive paragraph for block 102.
    ul.block-list
      li.item(data-i="0") Item 0 of block 102
      li.item(data-i="1") Item 1 of block 102
      li.item(data-i="2") Item 2 of block 102
      li.item(data-i="3") Item 3 of block 102
      li.item(data-i="4") Item 4 of block 102
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="103")
    h2.block-title Block 103
    p.block-text Some descriptive paragraph for block 103.
    ul.block-list
      li.item(data-i="0") Item 0 of block 103
      li.item(data-i="1") Item 1 of block 103
      li.item(data-i="2") Item 2 of block 103
      li.item(data-i="3") Item 3 of block 103
      li.item(data-i="4") Item 4 of block 103
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="104")
    h2.block-title Block 104
    p.block-text Some descriptive paragraph for block 104.
    ul.block-list
      li.item(data-i="0") Item 0 of block 104
      li.item(data-i="1") Item 1 of block 104
      li.item(data-i="2") Item 2 of block 104
      li.item(data-i="3") Item 3 of block 104
      li.item(data-i="4") Item 4 of block 104
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="105")
    h2.block-title Block 105
    p.block-text Some descriptive paragraph for block 105.
    ul.block-list
      li.item(data-i="0") Item 0 of block 105
      li.item(data-i="1") Item 1 of block 105
      li.item(data-i="2") Item 2 of block 105
      li.item(data-i="3") Item 3 of block 105
      li.item(data-i="4") Item 4 of block 105
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="106")
    h2.block-title Block 106
    p.block-text Some descriptive paragraph for block 106.
    ul.block-list
      li.item(data-i="0") Item 0 of block 106
      li.item(data-i="1") Item 1 of block 106
      li.item(data-i="2") Item 2 of block 106
      li.item(data-i="3") Item 3 of block 106
      li.item(data-i="4") Item 4 of block 106
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="107")
    h2.block-title Block 107
    p.block-text Some descriptive paragraph for block 107.
    ul.block-list
      li.item(data-i="0") Item 0 of block 107
      li.item(data-i="1") Item 1 of block 107
      li.item(data-i="2") Item 2 of block 107
      li.item(data-i="3") Item 3 of block 107
      li.item(data-i="4") Item 4 of block 107
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="108")
    h2.block-title Block 108
    p.block-text Some descriptive paragraph for block 108.
    ul.block-list
      li.item(data-i="0") Item 0 of block 108
      li.item(data-i="1") Item 1 of block 108
      li.item(data-i="2") Item 2 of block 108
      li.item(data-i="3") Item 3 of block 108
      li.item(data-i="4") Item 4 of block 108
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="109")
    h2.block-title Block 109
    p.block-text Some descriptive paragraph for block 109.
    ul.block-list
      li.item(data-i="0") Item 0 of block 109
      li.item(data-i="1") Item 1 of block 109
      li.item(data-i="2") Item 2 of block 109
      li.item(data-i="3") Item 3 of block 109
      li.item(data-i="4") Item 4 of block 109
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="110")
    h2.block-title Block 110
    p.block-text Some descriptive paragraph for block 110.
    ul.block-list
      li.item(data-i="0") Item 0 of block 110
      li.item(data-i="1") Item 1 of block 110
      li.item(data-i="2") Item 2 of block 110
      li.item(data-i="3") Item 3 of block 110
      li.item(data-i="4") Item 4 of block 110
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="111")
    h2.block-title Block 111
    p.block-text Some descriptive paragraph for block 111.
    ul.block-list
      li.item(data-i="0") Item 0 of block 111
      li.item(data-i="1") Item 1 of block 111
      li.item(data-i="2") Item 2 of block 111
      li.item(data-i="3") Item 3 of block 111
      li.item(data-i="4") Item 4 of block 111
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="112")
    h2.block-title Block 112
    p.block-text Some descriptive paragraph for block 112.
    ul.block-list
      li.item(data-i="0") Item 0 of block 112
      li.item(data-i="1") Item 1 of block 112
      li.item(data-i="2") Item 2 of block 112
      li.item(data-i="3") Item 3 of block 112
      li.item(data-i="4") Item 4 of block 112
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="113")
    h2.block-title Block 113
    p.block-text Some descriptive paragraph for block 113.
    ul.block-list
      li.item(data-i="0") Item 0 of block 113
      li.item(data-i="1") Item 1 of block 113
      li.item(data-i="2") Item 2 of block 113
      li.item(data-i="3") Item 3 of block 113
      li.item(data-i="4") Item 4 of block 113
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="114")
    h2.block-title Block 114
    p.block-text Some descriptive paragraph for block 114.
    ul.block-list
      li.item(data-i="0") Item 0 of block 114
      li.item(data-i="1") Item 1 of block 114
      li.item(data-i="2") Item 2 of block 114
      li.item(data-i="3") Item 3 of block 114
      li.item(data-i="4") Item 4 of block 114
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="115")
    h2.block-title Block 115
    p.block-text Some descriptive paragraph for block 115.
    ul.block-list
      li.item(data-i="0") Item 0 of block 115
      li.item(data-i="1") Item 1 of block 115
      li.item(data-i="2") Item 2 of block 115
      li.item(data-i="3") Item 3 of block 115
      li.item(data-i="4") Item 4 of block 115
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="116")
    h2.block-title Block 116
    p.block-text Some descriptive paragraph for block 116.
    ul.block-list
      li.item(data-i="0") Item 0 of block 116
      li.item(data-i="1") Item 1 of block 116
      li.item(data-i="2") Item 2 of block 116
      li.item(data-i="3") Item 3 of block 116
      li.item(data-i="4") Item 4 of block 116
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="117")
    h2.block-title Block 117
    p.block-text Some descriptive paragraph for block 117.
    ul.block-list
      li.item(data-i="0") Item 0 of block 117
      li.item(data-i="1") Item 1 of block 117
      li.item(data-i="2") Item 2 of block 117
      li.item(data-i="3") Item 3 of block 117
      li.item(data-i="4") Item 4 of block 117
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="118")
    h2.block-title Block 118
    p.block-text Some descriptive paragraph for block 118.
    ul.block-list
      li.item(data-i="0") Item 0 of block 118
      li.item(data-i="1") Item 1 of block 118
      li.item(data-i="2") Item 2 of block 118
      li.item(data-i="3") Item 3 of block 118
      li.item(data-i="4") Item 4 of block 118
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
  section.block(data-block="119")
    h2.block-title Block 119
    p.block-text Some descriptive paragraph for block 119.
    ul.block-list
      li.item(data-i="0") Item 0 of block 119
      li.item(data-i="1") Item 1 of block 119
      li.item(data-i="2") Item 2 of block 119
      li.item(data-i="3") Item 3 of block 119
      li.item(data-i="4") Item 4 of block 119
    .block-actions
      button.btn(type="button") Primary
      button.btn(type="button") Secondary
